#about-us {
    /*position: relative;*/
    
    font-family: 'Conv_niamey__';
}

.about-us-bg-container {
    /* position: relative;*/
    
    overflow: hidden;
}

.about-us-page-container {
    /* position: relative;*/
    
    overflow: hidden;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    color: black;
    /*background-color: pink;*/
    /*    z-index: 100;*/
}

.page-year {
    font-size: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    top: 50%;
}

.about-us-nav {
    /*position: relative;*/
    
    z-index: 9999;
    /*top: 500px;*/
}

.about-us-nav {}

.panel-content {
    top: 10%;
    position: relative;
}

.panel-label {
    color: #e31936;
}

.panel-left {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 500;
    float: left;
    clear: both;
    width: 430px;
    height: 305px;
    margin: -180px 0 0 0;
    padding: 35px 35px 15px 35px;
    overflow: hidden;
    /* background: #ffffff;*/
    
    background: rgba(0, 18, 64, .5);
    /*opacity: 0.3;*/
    
    border-bottom: 1px solid #adadad;
    border-right: 1px solid #adadad;
    border-top: 1px solid #adadad;
    color: #fff;
    /*#001240;*/
}

.panel-right {
    position: absolute;
    right: 0;
    /*    top: 50%;*/
    
    padding: 20px;
    width: 100px;
    float: right;
    clear: both;
    background: rgba(0, 18, 64, 1);
    overflow: hidden;
    color: #fff;
    border-bottom: 1px solid #adadad;
    border-left: 1px solid #adadad;
    border-top: 1px solid #adadad;
}