@font-face {
    font-family: 'Conv_niamey__';
    src: url('../fonts/niamey__.eot');
    src: local('☺'), url('../fonts/niamey__.woff') format('woff'), url('../fonts/niamey__.ttf') format('truetype'), url('../fonts/niamey__.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bod {
    font-family: 'Conv_niamey__';
    padding: 0px 0px;
    overflow-x: hidden;
}