<section id="artists" class=" text-banner">
    <!--    <div class="artists-soundwave"></div>-->

    <div class="title-row artists-header">
        <div class="artists-title"></div>
        <!--<h1>ARTISTS</h1>
        <div class="artists-title-right"></div>-->
    </div>

    <div class="artists-grid container">
        <div ng-repeat="artist in artists">
            <div class="artists-row row">

                <div class="artists-div col-sm-9">
                    <div class="artists-div-top-left art1 " my-background-image={{artist.first.img}}>

                    </div>
                    <div class="artists-div-bottom-left hidden-xs "></div>
                </div>
                <div class="artists-div col-sm-3">
                    <div class="artists-div-top-right hidden-xs">
                        <h3>{{artist.first.title}}</h3>
                        <div>
                            <img src="../img/home/separator.svg" </img>
                        </div>
                        <p>{{artist.first.description}}</p>
                        <div class="artist-info">
                            <div class="artist-social row-fluid">
                                <div class="artist-network artist-facebook col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/facebook30.svg'"></div>
                                    </a>
                                </div>
                                <div class="artist-network artist-instagram col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/instagram30.svg'"></div>
                                    </a>
                                </div>
                                <div class="artist-network artist-dribble col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/dribble30.svg'"></div>

                                    </a>
                                </div>
                                <div class="artist-network artist-twitter col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/twitter30.svg'"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <a href={{artist.first.link}}>
                        <div class="artists-div-bottom-right">
                            <div class="artist-link">
                                <p>MORE</p>
                                <span class="artists-forward glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="artists-row row">
                <div class="artists-div col-sm-9 col-sm-push-3 ">
                    <div class="artists-div-top-left art2" my-background-image={{artist.second.img}}>
                    </div>
                    <div class="artists-div-bottom-left hidden-xs"></div>
                </div>
                <div class="artists-div col-sm-3 col-sm-pull-9">
                    <div class="artists-div-top-right hidden-xs">
                        <h3>{{artist.second.title}}</h3>
                        <div>
                            <img src="../img/home/separator.svg" />
                        </div>
                        <p>{{artist.second.description}}</p>

                        <div class="artist-info">
                            <div class="artist-social row-fluid">
                                <div class="artist-network artist-facebook col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/facebook30.svg'"></div>
                                    </a>
                                </div>
                                <div class="artist-network artist-instagram col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/instagram30.svg'"></div>
                                    </a>
                                </div>
                                <div class="artist-network artist-dribble col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/dribble30.svg'"></div>

                                    </a>
                                </div>
                                <div class="artist-network artist-twitter col-sm-3">
                                    <a>
                                        <div ng-include="'../img/header/twitter30.svg'"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href={{artist.second.link}}>
                        <div class="artists-div-bottom-right">
                            <div class="artist-link">
                                <p>MORE</p>
                                <span class="artists-forward glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>