<div id="contact">
    <div id="map-container-g" hello-maps="" latitude="44.417184" longitude="26.119362"></div>
    <div class="row">
        <div class="span3 offset4 col-centered-border contact-form md-trigger" data-modal="modal-11">
            <h3> Leave a message</h3>
        </div>
    </div>
    <div class="row">
        <div class="span4 offset4 col-centered-border contact-address">
            <h2>735 SW Mt. Sl Blvd., North Bend</h2>
            <h2>425-888-1487</h2>
        </div>
    </div>
</div>