<footer data-speed="2" data-type="background" style="z-index:01">
    <div class="container">
        <div class="page-header">
            <h1>Footer <small>footer..</small></h1>
        </div>
    </div>
</footer>