<div class="main--slider containerx demo-1 row-fluid">
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
            <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <section class="sl-slide-inner" data-speed="4" data-type="background">
                    <h2>DeMoga</h2>
                    <h1>Recording Studio</h1>
                    <div class="row-fluid shadow">
                        <div class="span2"></div>
                        <div class="span8">
                            <div class="span4 col-centered ">
                                <img src="./img/home/RECORDING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MIXING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MASTERING.svg" />
                            </div>
                        </div>
                        <div class="span2"></div>
                    </div>
                </section>
            </div>
            <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <section class="sl-slide-inner" data-speed="4" data-type="background">
                    <h2>DeMoga</h2>
                    <h1>Recording Studio</h1>
                    <div class="row-fluid shadow">
                        <div class="span2"></div>
                        <div class="span8">
                            <div class="span4 col-centered ">
                                <img src="./img/home/RECORDING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MIXING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MASTERING.svg" />
                            </div>
                        </div>
                        <div class="span2"></div>
                    </div>F
                </section>
            </div>

            <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                <section class="sl-slide-inner" data-speed="4" data-type="background">
                    <h2>DeMoga</h2>
                    <h1>Recording Studio</h1>
                    <div class="row-fluid shadow">
                        <div class="span2"></div>
                        <div class="span8">
                            <div class="span4 col-centered ">
                                <img src="./img/home/RECORDING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MIXING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MASTERING.svg" />
                            </div>
                        </div>
                        <div class="span2"></div>
                    </div>
                </section>
            </div>

            <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                <section class="sl-slide-inner" data-speed="4" data-type="background">
                    <h2>DeMoga</h2>
                    <h1>Recording Studio</h1>
                    <div class="row-fluid shadow">
                        <div class="span2"></div>
                        <div class="span8">
                            <div class="span4 col-centered ">
                                <img src="./img/home/RECORDING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MIXING.svg" />
                            </div>
                            <div class="span4 col-centered ">
                                <img src="./img/home/MASTERING.svg" />
                            </div>
                        </div>
                        <div class="span2"></div>
                    </div>
                </section>
            </div>
        </div>
        <!-- /sl-slider -->

        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
        <!--<div class="frontpage-soundwave"></div>-->

    </div>
    <!-- /slider-wrapper -->

</div>
<script type="text/javascript" src="js/home/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="js/home/jquery.slitslider.js"></script>
<script type="text/javascript" src="js/home/slider.js"></script>
<script type="text/javascript" src="js/parallax.js"></script>