<header class="cd-header">
    <div class="cd-logo">
        <a href="#0">
            <img src="img/header/demoga-logo.png" alt="DeMoga">
        </a>
    </div>
    <nav>
        <ul class="cd-secondary-nav">
            <li class="nav-studios"><a href="#studios">Studios</a>
            </li>
            <li class="nav-contact"><a href="#contact">Contact</a>
            </li>
            <li class="nav-about-us"><a href="#aboutUs">About us</a>
            </li>
        </ul>
    </nav>
    <!-- cd-nav -->
    <a class="cd-primary-nav-trigger">
        <span class="cd-menu-icon nav-menu-icon"></span>
    </a>
</header>
<nav>
    <ul class="cd-primary-nav">
        <li class="cd-label">About us</li>
        <li><a href="#team">The team</a>
        </li>
        <li><a href="#services">Our services</a>
        </li>
        <li><a href="#projects">Our projects</a>
        </li>
        <li class="cd-label">Work with us</li>
        <li><a href="#startProject">Start a project</a>
        </li>
        <li><a href="#hoinin">Join In</a>
        </li>
        <li><a href="#account">Create an account</a>
        </li>
        <li class="cd-label">Follow us</li>
        <li class="cd-social cd-facebook"><a href="#facebook">Facebook</a>
        </li>
        <li class="cd-social cd-instagram"><a href="#instagram">Instagram</a>
        </li>
        <li class="cd-social cd-dribbble"><a href="#dribble">Dribbble</a>
        </li>
        <li class="cd-social cd-twitter"><a href="#twitter">Twitter</a>
        </li>
    </ul>
</nav>
<script src="js/header/nav.js"></script>