<div ng-include="'partials/frontpage.html'"></div>
<div ng-include="'partials/artists.html'"></div>

<div ng-include="'partials/theStudio.html'"></div>
<div ng-include="'partials/contact.html'"></div>
<div ng-include="'partials/modal.html'"></div>