<div>
    <img class="lang_en" src="../img/lang/lang-en-black2.svg" />
    <div class="lang">
        <img src="../img/lang/lateral-nav-left.svg" />
    </div>
    <div class="lang_ro">
        <img src="../img/lang/lang-ro-black.svg" />
    </div>

    <script src="js/lang/lang.js"></script>
</div>