<div class="md-modal md-effect-11" id="modal-11">
    <div class="md-content">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close md-close">x</button>
                <div class="modal-header">
                    <h2 class="modal-title">Say Hello!</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="col-sm-12 modal-text">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
                        </div>
                        </br>
                        <div class="col-sm-12 modal-text">
                            <input type="text" class="form-control" id="email" placeholder="Your Email" ng-model="email">
                        </div>
                        </br>
                        <div class="col-sm-12 modal-text">
                            <textarea class="form-control" id="message" placeholder="Your Message" ng-model="message"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="col-centered-border">
                        <h3>Send Message</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/modal/modalEffects.js"></script>