<!--
<div id="slider--studio">
    <ul class="slides">

    <custom-slider></custom-slider>
        <li class="slide"></li>
-->
<!--         FIRST SLIDE!!-->
<!--
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
    </ul>
    
    <div class="dots"></div>
    <div class="artist">ARTIST</div>
    <div class="artistName">THE STUDIO</div>
    <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
    </nav>
</div>-->

<div id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>re·lax·a·tion</h3></div></li>
            <li><span>Image 02</span><div><h3>qui·e·tude</h3></div></li>
            <li><span>Image 03</span><div><h3>bal·ance</h3></div></li>
            <li><span>Image 04</span><div><h3>e·qua·nim·i·ty</h3></div></li>
            <li><span>Image 05</span><div><h3>com·po·sure</h3></div></li>
            <li><span>Image 06</span><div><h3>se·ren·i·ty</h3></div></li>
        </ul>
        <div class="artistName">THE STUDIO</div>
    </div>