.lang {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: -50px;
    width: 100px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.lang_fixed {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 0px;
    width: 50px;
}

.lang_en {
    opacity: 0;
    position: fixed;
    z-index: 9999;
    top: 20%;
    left: 51px;
    height: 50px;
    width: 50px;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

#lang_en_black {
    transition: 1s;
}

.lang_ro {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 102px;
    height: 50px;
    width: 50px;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.lang_en:hover {
    -ms-transform: translate(0px, 3px);
    /* IE 9 */
    
    -webkit-transform: translate(0px, 3px);
    /* Safari */
    
    transform: translate(0px, 3px);
}

.lang_ro:hover {
    -ms-transform: translate(0px, 3px);
    /* IE 9 */
    
    -webkit-transform: translate(0px, 3px);
    /* Safari */
    
    transform: translate(0px, 3px);
}

.lang:hover {
    -ms-transform: translate(30px, 0px);
    /* IE 9 */
    
    -webkit-transform: translate(30px, 0px);
    /* Safari */
    
    transform: translate(30px, 0px);
}