*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.overflow-hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.cd-container:after {
    content: "";
    display: table;
    clear: both;
}

.nav-studios,
.nav-about-us {
    padding-top: 22px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-image: url("../../img/header/nav.svg");
    background-size: cover;
    /* <------ */
    
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.nav-studios:hover,
.nav-contact:hover,
.nav-about-us:hover {
    -ms-transform: translate(0px, 4px);
    /* IE 9 */
    
    -webkit-transform: translate(0px, 4px);
    /* Safari */
    
    transform: translate(0px, 4px);
}

.cd-header.is-fixed:not(.is-visible) .nav-studios:hover,
.cd-header.is-fixed:not(.is-visible) .nav-contact:hover,
.cd-header.is-fixed:not(.is-visible) .nav-timeline:hover {
    -ms-transform: translate(0px, 40px);
    /* IE 9 */
    
    -webkit-transform: translate(0px, 40px);
    /* Safari */
    
    transform: translate(0px, 40px);
}

.cd-header.is-fixed.is_visible .nav-studios:hover,
.cd-header.is-fixed.is_visible .nav-contact:hover,
.cd-header.is-fixed.is_visible .nav-timeline:hover {
    -ms-transform: translate(0px, 4px);
    /* IE 9 */
    
    -webkit-transform: translate(0px, 4px);
    /* Safari */
    
    transform: translate(0px, 4px);
}

.nav-contact {
    padding-top: 22px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-image: url("../../img/header/nav.svg");
    background-size: cover;
    /* <------ */
    
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
/* -------------------------------- 

Main components 

-------------------------------- */

html,
body {
    height: 100%;
}

.cd-header {
    position: absolute;
    top: 0;
    left: 0;
    background:
    /*#5bb18c;*/
    
    rgba(0, 12, 40, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
    .cd-header {
        background: transparent;
        box-shadow: none;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-header {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cd-header.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        
        position: fixed;
        top: -50px;
        background-color: rgba(0, 18, 64, .5);
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
        border-bottom: 1px solid #adadad;
    }
    .cd-header.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    .cd-header.menu-is-open {
        /* add a background color to the header when the navigation is open */
        
        background-color: rgba(0, 12, 40, 0.96);
    }
}

.cd-logo {
    display: block;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: .875em;
}

.cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    .cd-logo {
        left: 2.6em;
    }
}

.cd-secondary-nav {
    position: absolute;
    top: 62%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15em;
    margin-bottom: 0px;
    /* hidden on small devices */
    
    display: none;
}

.cd-secondary-nav li {
    display: inline-block;
    margin-left: 1.2em;
}

.cd-secondary-nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    /* background-color: #1d7e5b;*/
}

.cd-secondary-nav .nav-studios a {
    /*background-color: #1d7e5b;*/
}

.cd-secondary-nav .nav-contact a {
    /*background-color: #3b5997;*/
}

@media only screen and (min-width: 768px) {
    .cd-secondary-nav {
        display: block;
    }
}

.cd-primary-nav-trigger {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    /*background-color: #03263d;*/
}

.cd-primary-nav-trigger .cd-menu-text {
    color: gray;
    text-transform: uppercase;
    font-weight: 700;
    /* hide the text on small devices */
    
    display: none;
    font-size: 140%;
    /*background-color: #92617f;*/
}

.cd-primary-nav-trigger .cd-menu-icon {
    /* this span is the central line of the menu icon */
    
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 45%;
    bottom: auto;
    right: auto;
    padding-left: 20px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}

.cd-primary-nav-trigger .cd-menu-icon::before,
.cd-primary-nav-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}

.cd-primary-nav-trigger .cd-menu-icon::before {
    top: -5px;
}

.cd-primary-nav-trigger .cd-menu-icon::after {
    top: 5px;
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before,
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    background-color: white;
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cd-primary-nav-trigger {
        background-image: url('../../img/header/nav-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 63px;
        padding-left: 49px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        top: 58%;
        right: 0em;
        top: 55%;
        bottom: auto;
        transform: scale(2, 2);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block;
    }
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 1.5em;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
    .cd-secondary-nav {
        transform: scale(1, 1);
        right: 15em;
        top: 0%;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-primary-nav-trigger {
        /*
        background-image: url('images/nav-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        top: 72%;
        bottom: auto;
        transform: scale(2, 2);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
*/
        
        background-image: url('../../img/header/nav-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 20px;
        padding-bottom: 63px;
        padding-left: 49px;
        padding-right: 20px;
        height: 30px;
        line-height: 30px;
        top: 58%;
        bottom: auto;
        right: 0px;
        transform: scale(2, 2);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cd-primary-nav-trigger .cd-menu-text {
        display: inline-block;
    }
    .cd-primary-nav-trigger .cd-menu-icon {
        left: auto;
        right: 1.5em;
        -webkit-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
}

.cd-primary-nav {
    /* by default it's hidden - on top of the viewport */
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:
    /*#5bb18c;*/
    
    rgba(0, 12, 40, 0.8);
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    margin: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cd-primary-nav li {
    font-size: 1rem;
    font-weight: 300;
    margin: .2.5em 1em;
    text-transform: capitalize;
}

.cd-primary-nav a {
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 0.25em;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.no-touch .cd-primary-nav a:hover {
    background-color: rgba(227, 25, 54, 0.7);
    color: black;
}

.cd-primary-nav .cd-label {
    color: #e31936;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-size: 2rem;
    margin: 2.4em 0 .8em;
}

.cd-primary-nav .cd-social {
    display: inline-block;
    margin: 0 .4em;
}

.cd-primary-nav .cd-social a {
    width: 44px;
    height: 44px;
    padding: 0;
    background-image: url("../../img/header/cd-socials.svg");
    background-repeat: no-repeat;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.cd-primary-nav .cd-facebook a {
    background-position: 0 0;
}

.cd-primary-nav .cd-instagram a {
    background-position: -44px 0;
}

.cd-primary-nav .cd-dribbble a {
    background-position: -88px 0;
}

.cd-primary-nav .cd-twitter a {
    background-position: -132px 0;
}

.cd-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 768px) {
    .cd-primary-nav {
        padding: 80px 0;
    }
}

.cd-intro {
    position: relative;
    height: 100%;
    background: url("../img/cd-background-img.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-intro h1 {
    position: absolute;
    width: 90%;
    max-width: 1170px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cd-intro h1 {
        font-size: 30px;
        font-size: 1.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-intro {
        height: 700px;
    }
}

.cd-main-content {
    position: relative;
    z-index: 1;
}

.cd-main-content p {
    line-height: 1.6;
    margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
    .cd-main-content p {
        font-size: 20px;
        font-size: 1.25rem;
    }
}