
/*
    Slider Div
*/

#slider {

    width: 100%;

    height: 95vh;

    overflow: hidden;

    z-index: 2;

}

#slider .slides {

    display: block;

    width: 500%;

    height: 100vh;

    margin: 0;

    padding: 0;

    background-image: url('../../img/artists/filter_dots.png');

}

#slider .slide {

    float: left;

    list-style-type: none;

    width: 20%;

    height: 100%;

    /*  background-image: url('../../img/artists/filter_dots.png'), url('../../img/home/artists/LiviuTeodorescu/2.jpg');*/

/*    background-image: url('../../img/artists/filter_dots.png'), url('../../img/home/artists/Adda/6.jpg');*/

    background-size: auto, cover;

    background-repeat: repeat, no-repeat;

    background-position: center center, center center;

}

#slider .dots {

    display: inline-block;

    background: url(../../img/artists/dots.png);

    width: 12%;

    height: 10px;

    position: absolute;

    top: 60%;
    left: 0;

}

#slider .artist {

    color: #fff;

    font-size: 1.1em;

    text-transform: uppercase;

    line-height: 2.2em;

    display: inline;

    position: absolute;

    top: 59%;

    left: 11%;

    text-align: center;

    border-bottom: 4px solid #0b8099;

    padding: 0 25px;

}

#slider .artistName {

    color: #fff;

    font-size: 2.8em;

    background: rgba(227, 25, 54, 0.75);

    text-transform: uppercase;

    line-height: 2.2em;

    display: inline;

    position: absolute;

    top: 65%;

    left: 11%;

    text-align: center;

    padding: 0 25px;

}

/*
    Artists Info 
*/

#artistInfo {

    z-index: 1;

    width: 100%;

    height: 90vh;

    background-color: bisque;

    position: relative;

    background-image: url('../../img/artists/blurr.jpg');

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center center;

    background-color: whitesmoke;

}

.info {

    left: 50%;

    position: absolute;

}

.info--inner {

    position: relative;

    right: 50%;

    height: 1000px;

    width: 1100px;

    background-color: rgba(0, 18, 64, 0);

    margin: 0;

    /*  border-top: 4px solid #0b8099;*/

    font-size: 1.8em;

    /*    color: rgba(227, 25, 54, 1);*/

    color: white;

    text-transform: uppercase;

    /* line-height: 2.2em; */

    /* display: inline; */

    text-align: left;

}

.artist-bio {

    position: absolute;

    left: 50px;

    background-color: rgba(0, 0, 0, 0.6);

    width: 700px;

    top: -50px;

    height: 1000px;

    line-height: 2.2em;

    padding: 20px;

    border-top: 4px solid #0b8099;

}

.artist--name {

    position: absolute;

    top: 10px;

    left: 30px;

    width: 70px;

    color: rgba(0, 0, 0, 0);

    background-image: url(../../img/home/separator.svg);

    background-size cover;

    background-repeat: no-repeat;

    background-position: center center;

}

.artist--nameBorder {

    position: absolute;

    top: 76px;

    left: 0;

    width: 100%;

    border-bottom: 1px solid rgba(56, 50, 50, 0.4);

}

.artist--about {

    color: gray;

    position: absolute;

    top: 71px;

    left: 30px;

    padding-right: 30px;

    padding-top: 20px;

    line-height: 1.8em;

    color: #808080;

    font-size: 0.6em;

    text-align: justify;

}

#artistInfo .cd-social a {

    width: 44px;

    height: 44px;

    padding: 0;

    background-image: url("../../img/header/cd-socials.svg");

    background-repeat: no-repeat;

    /* image replacement */

    overflow: hidden;

    text-indent: 100%;

    white-space: nowrap;

}

#artistInfo .cd-facebook a {

    background-position: 0 0;

}

#artistInfo .cd-twitter a {

    background-position: -132px 0;

}

#artistInfo .cd-instagram a {

    background-position: -44px 0;

}

#artistInfo .cd-dribbble a {

    background-position: -88px 0;

}

#artistInfo .artist-social {

    position: absolute;

    top: -50px;

    left: 770px;

    width: 270px;

    height: 1000px;

    background-color: rgba(0, 0, 0, 0.7);

    padding: 4px;

}

#artistInfo a {

    text-decoration: none;

    display: inline-block;

    padding: .5em 1em;

    border-radius: 0.25em;

    font-size: 25px;

    font-stretch: normal;

    font-style: normal;

    font-variant: normal;

    font-weight: 100;

    text-rendering: optimizeLegibility;

    -webkit-transition: background 0.2s;

    -moz-transition: background 0.2s;

    transition: background 0.2s;

}

#artistInfo a:hover {

    background-color: rgba(227, 25, 54, 0.7);

    color: black;

}

#artistInfo li {

    display: inline-block;

    margin-left: 0.5em;

}