/*.timeline-body {
    position: relative;
}

.timeline-wave {
    position: relative;
    background-image: url('../../img/timeline/filter_dots.png');
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
}

#timeline-background {
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
}

#wave {
    display: block;
    position: relative;
    margin: auto;
    z-index: 0;
}

.timeline-group {
    padding-top: 30px;
    padding-bottom: 20px;
}

.timeline-photo {
    width: 300px;
    height: 400px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 100px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
}

.timeline-text {
    height: 300px;
    width: 300px;
    margin-top: 150px;
    overflow: hidden;
    background-image: url('../../img/timeline/background-text.png');
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center, center center;
}

.timeline-text p {
    color: #f2f2f2;
    text-align: justify;
    padding: 0px 20px;
}

.timeline-header {
    margin-left: 20px;
    display: block;
}

.timeline-header-img {
    margin-left: 20px;
    display: block;
    width: 50%;
}

.timeline-header h3 {
    color: #e31936;
}

.nav-arrows span {
    position: absolute;
    z-index: 1;
    top: 58%;
    width: 46px;
    height: 66px;
    text-indent: -90000px;
    margin-top: -40px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1100;
}

.nav-arrows span:hover {
    border-color: rgba(150, 150, 150, 0.9);
}

.nav-arrows span.nav-arrow-prev {
    left: 0%;
    border-right: none;
    border-top: none;
    opacity: 0.4;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    background-image: url('../../img/home/arrow-left.svg');
}

.nav-arrows span.nav-arrow-next {
    right: 0%;
    border-left: none;
    border-bottom: none;
    opacity: 0.4;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    background-image: url('../../img/home/arrow-right.svg');
}

.nav-arrows span.nav-arrow-prev:hover,
.nav-arrows span.nav-arrow-next:hover {
    opacity: 0.9;
}

.youtube-video {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 300px) {
    .timeline-text {
        height: 300px;
        width: 300px;
        margin-top: 10px;
        overflow: hidden;
        background-image: url('../../img/timeline/background-text.png');
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
        background-position: center center, center center;
    }
}*/

#timeline {
    overflow: hidden;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    /*    z-index: 100;*/
}

.backBg {
    z-index: 0;
}

.timeline-wave {
    position: relative;
    background-image: url('../../img/timeline/filter_dots.png');
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
}

#wave {
    display: block;
    position: relative;
    margin: auto;
    z-index: 0;
}

.panel-left {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 50;
    float: left;
    clear: both;
    width: 430px;
    height: 305px;
    margin: -180px 0 0 0;
    padding: 35px 35px 15px 35px;
    overflow: hidden;
    /* background: #ffffff;*/
    
    background: rgba(0, 18, 64, .5);
    /*opacity: 0.3;*/
    
    border-bottom: 1px solid #adadad;
    border-right: 1px solid #adadad;
    border-top: 1px solid #adadad;
    color: #fff;
    /*#001240;*/
}

.panel-right {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 50;
    float: right;
    clear: both;
    max-height: 300px;
    max-width: 500px;
    /*    width: 430px;
    height: 305px;*/
    
    margin: -180px 0 0 0;
    /*padding: 35px 35px 15px 35px;*/
    
    overflow: hidden;
    background: #ffffff;
    opacity: 0.6;
    color: #001240;
    border-bottom: 1px solid #adadad;
    border-left: 1px solid #adadad;
    border-top: 1px solid #adadad;
}

.panel-label {
    color: #e31936;
}