<section id="about-us">
    <div class="about-us-nav">
        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev about-us-nav" ng-click="previous()">Previous</span>
            <span class="nav-arrow-next about-us-nav" ng-click="next()">Next</span>
        </nav>
    </div>
    <div class="about-us-bg-container" ng-repeat="page in pages">

        <div semibg page-id='page.id' class="panel-right panel-animation-right" ng-hide="isInTransit" ng-if="isCurrentPage(page.id)">
            <div class="panel-content">
                <h1 class="panel-label">{{page.label}}</h1>

                <h3>{{page.sublabel}}</h3>

                <p>{{page.content}}</p>
            </div>
        </div>
        <div class="page-year text-animation-rotate rotate-forward" ng-hide="isInTransit" ng-if="isCurrentPage(page.id)">{{page.year}}</div>
        <div class="about-us-page-container">
            <div bg page-id='page.id' class="fullBg bg-animation" ng-if="isCurrentPage(page.id)">

            </div>
        </div>

    </div>



</section>