<link rel="stylesheet" href="../css/artists/artist.css">

<!--
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe frameborder="0" height="100%" width="100%" 
    src="https://youtube.com/embed/80-Rxd8tgcc?autoplay=1&controls=0&showinfo=0&autohide=1">
  </iframe>
</div>
-->

<div id="slider">
    <ul class="slides">

    <custom-slider></custom-slider>
<!--
        <li class="slide"></li>
         FIRST SLIDE!!
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
-->
    </ul>
    
    <div class="dots"></div>
    <div class="artist">ARTIST</div>
    <div class="artistName">{{artistName}}</div>
    <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
    </nav>
</div>

<div id="artistInfo">
    <div class="info">
        <div class="info--inner">
            <div class="artist-bio">
                <div class="artist--name">
                 .
                </div>
                <div class="artist--nameBorder">
                </div>
                <p class="artist--about">
                    {{artistBio}}
                </p>
                
            </div>
            <ul class="artist-social">
                <li ng-if="facebook" class="cd-social cd-facebook"><a href="{{facebook}}"></a></li>
                <li class="cd-social cd-instagram"><a></a></li>
                <li class="cd-social cd-dribbble"><a></a></li>
                <li class="cd-social cd-twitter"><a></a></li>
            </ul>
        </div>
        
    </div>
</div>

<script src="../js/artists/artist.js"></script>

