<link rel="stylesheet" href="../../css/studios/slider--studio.css">
<link rel="stylesheet" href="../../css/studios/studios.css">
<link rel="stylesheet" href="../../css/studios/grid--studio.css">
<script type="text/javascript" src="js/home/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="js/home/jquery.slitslider.js"></script>
<script type="text/javascript" src="js/studios/slider.js"></script>

<section id="studios" class="text-banner">
    <div class="containerx demo-1 row-fluid">
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">
                <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner">
                        <div class="deco" data-icon="q"></div>
                        <h2>Regula aurea</h2>
                        <blockquote>
                            <p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner">
                        <div class="deco" data-icon="H"></div>
                        <h2>A bene placito</h2>
                        <blockquote>
                            <p>You have just dined, and however scrupulously the slaughterhouse is concealed in the graceful distance of miles, there is complicity.</p><cite>Ralph Waldo Emerson</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="deco" data-icon="I"></div>
                        <h2>Donna nobis pacem</h2>
                        <blockquote>
                            <p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                    <div class="sl-slide-inner">
                        <div class="deco" data-icon="t"></div>
                        <h2>Acta Non Verba</h2>
                        <blockquote>
                            <p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi Clarke</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <nav id="nav-arrows" class="nav-arrows2">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>

            <nav id="nav-dots" class="nav-dots">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </nav>

        </div>

    </div>

</section>


<script type="text/javascript" src="../../js/parallax.js"></script>
<section class="studios-paragraph" data-speed="6" data-type="background">
    <h4>THE STUDIO</h4>
</section>


<section id="clients" class=" text-banner">
    <div class="clients-header"></div>

    <div class="container--grid">

        <div class="main--grid">
            <ul id="og-grid" class="og-grid">
                <li>
                    <a href="#/client/9" data-largesrc="../../img/studios/yogi.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <!--                        <img src="../../img/studios/RECORDERS.svg" alt="img01" />-->
                        <h2>Yogi</h2>
                        <div></div>
                    </a>
                </li>
                <li>
                    <a href="#/client/10" data-largesrc="../../img/home/artists/Adda/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="../../img/studios/MONITORING.svg" alt="img01" />
                        <div></div>
                    </a>
                </li>
                <li>
                    <a href="#/client/9" data-largesrc="../../img/home/artists/Adda/1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <img src="../../img/studios/MIXERS_BLUE.svg" alt="img01" />
                        <div></div>
                    </a>
                </li>

                <li>
                    <a href="#/client/10" data-largesrc="../../img/home/artists/Adda/2.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <img src="../../img/studios/MICROPHONES.svg" alt="img01" />
                        <div></div>
                    </a>
                </li>
                <li>
                    <a href="#/client/10" data-largesrc="../../img/home/artists/Ruby/ruby.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                        <div></div>
                    </a>
                </li>
                <li>
                    <a href="#/client/9" data-largesrc="../../img/home/artists/Adda/8.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                        <div></div>
                    </a>
                </li>

                <li>
                    <a href="#/client/10" data-largesrc="../../img/home/artists/Amna/5.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">

                        <div></div>
                    </a>
                </li>
                <li>
                    <a href="#/client/9" data-largesrc="../../img/home/artists/Adda/1.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">

                        <div></div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /container -->
    <script src="../../js/studios/grid.js"></script>
    <script>
        $(function () {
            Grid.init();
        });

        var $gridPictures = $('a[data-largesrc]');
        for (i = 0; i < $gridPictures.length; i++) {
            console.log(i);
            $($gridPictures[i]).css('background-image', 'url(\'' + $gridPictures[i].getAttribute('data-largesrc') + '\')'); //$gridPictures[i].getAttribute('data-largesrc'));
            $($gridPictures[i]).css('background-size', 'cover');
            $($gridPictures[i]).css('background-repeat', 'no-repeat');
            $($gridPictures[i]).css('background-position', 'center');
        }
    </script>
</section>
<!--
<div class="row-fluid studios-equip-info">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1"></div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/RECORDERS_BLUE.svg" />
            <h3>RECORDERS</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MIXERS_BLUE.svg" />
            <h3>MIXERS</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MICROPHONES_BLUE.svg" />
            <h3>MICROPHONES</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1"></div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/OUTBOARDGEAR_BLUE.svg" />
            <h3>OUTBOARDGEAR</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/MONITORING_BLUE.svg" />
            <h3>MONITORING</h3>
        </div>
        <div class="col-sm-2 equipment-button">
            <img src="./images/INSTRUMENTS_BLUE.svg" />
            <h3>INSTRUMENTS</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
-->