<link rel="stylesheet" href="../../css/timeline/timeline.css">

<section id="timeline">
    <!--<div id="timeline-background">
    <div class="timeline-body container-fluid">-->
    <!--<div class="timeline-group row-fluid">
    <div class="span1"></div>
    <div class="timeline-photo span6">
    </div>
    <div class="timeline-text span4 ">
        <div class="timeline-header row-fluid">
            <h3 class="span4">{{timelineHeader}}</h3>
            <h3 class="span8"></h3>
        </div>
        <div class="timeline-header row-fluid">
            <div class="timeline-header-img span4">
                <img src="../../img/timeline/separator.svg">
            </div>
            <div class="span8"></div>
        </div>
        <p>{{timelineText}}</p>
        <iframe class="youtube-video" ng-show="checked" src="http://www.youtube.com/embed/XGSy3_Czz8k">
        </iframe>
    </div>
    <div class="span1"></div>
</div>-->
    <!--            <div class="timeline-wave">
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev" ng-click="svgModPrevious()">Previous</span>
                    <span class="nav-arrow-next" ng-click="svgModNext()">Next</span>
                </nav>
                <div class="hidden-xs" ng-include="'../../img/timeline/wave-white-raster.svg'"></div>

            </div>
        </div>
    </div>-->
    <img semibg class="backBg bg-animation" src="../../img/timeline/blur/0-blur.jpg"></img>
    <img bg class="fullBg bg-animation" ng-repeat="page in pages" ng-if="isCurrentPage(page.id)" ng-src={{page.img}}>
    <!--<img bg class="fullBg bg-animation" ng-if="isCurrentPage(1)" src="../../img/timeline/blur/1-blur.jpg">-->

    <div class="panel-left panel-animation-left" ng-hide="isInTransit">
        <div>
            <h1 class="panel-label">{{page.label}}</h1>

            <h3>{{page.sublabel}}</h3>

            <p>{{page.content}}</p>
        </div>
    </div>

    <div class="panel-right panel-animation-right" ng-hide="isInTransit">
        <img ng-src={{page.photo}}>
        <!--<nav id="photo-nav-arrows" class="photo-nav-arrows">
    <span class="photo-nav-arrow-prev" ng-click="svgModPrevious()">Previous</span>
    <span class="photo-nav-arrow-next" ng-click="svgModNext()">Next</span>
</nav>-->
    </div>

    <div class="timeline-wave">
        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev" ng-click="svgModPrevious()">Previous</span>
            <span class="nav-arrow-next" ng-click="svgModNext()">Next</span>
        </nav>
        <div class="hidden-xs" ng-include="'../../img/timeline/wave-white-raster.svg'"></div>
    </div>
</section>