
.studios-paragraph {

    height: 300px;

    position: relative;

    text-align: center;
    
    background-color: black;
    
    background-image: url('../../img/artists/filter_dots.png'), url('../../img/studios/crowd.jpg');
/*    background-image: url('../../img/artists/filter_dots.png'), url('../../img/home/artists/Adda/6.jpg');*/

    background-size: auto, cover;

    background-repeat: repeat, no-repeat;

    background-position: center center,center;
}

h4 {

    color: white;

    background-color: rgba(227, 25, 54,0.87);

    padding: 25px;

    top: 90px;

    position: relative;

    font-size: 3em;

    display: inline-block;

}
#clients {
    position: relative;
}
