#artists {
    background-color: whitesmoke;
    padding-bottom: 100px;
    font-family: 'Conv_niamey__';
}

.artists-soundwave {
    background-image: url("../../img/artists/wave_down2.svg");
    height: 100px;
}

.blue-trian img {
    max-width: 7%;
}

.artists-header {
    padding-bottom: 100px;
    padding-top: 100px;
    float: none;
    position: relative;
    text-align: center;
    color: white;
}

.artists-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    background-image: url("../../img/home/artists-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 50px;
    position: relative;
}

.artists-grid {
    padding: 0px;
}

.artists-div {
    padding: 0px;
    /*    height: 690px;*/
}

.artists-div-top-left {
    height: 640px;
}

.art1 {
    /*background-image: url("../../img/home/artists/Adda/6.jpg");*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.art2 {
    /*background-image: url("../../img/home/artists/AngeloSimonica/1.jpg");*/
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.artists-div-bottom-right {
    padding-top: 0px;
    background-color: #e31936;
    height: 80px;
    padding-left: 0px;
    position: relative;
    margin: 0px 0px;
}

.artists-div-bottom-right a {
    margin: 0px;
    padding: 0px;
}

.artists-div-bottom-right:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: white;
    /*    opacity: 0;*/
}

.artists-div-bottom-right:hover::after {
    opacity: 0.3;
}

.artist-link {
    margin: auto;
    top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.artists-div-top-right {
    height: 640px;
    background-color: white;
}

.artists-div-top-right img {
    width: 23%;
    height: 23%;
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 20px;
}

.artists-div-bottom-left {
    background-color: #001240;
    height: 80px;
}

.artists-div-top-right h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    /*      position: absolute;*/
    
    color: #e31936;
    border-bottom: 1px solid #e31936;
}

.artists-div-top-right p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.artists-forward {
    color: white;
    padding-left: 5px;
}

.artists-div-bottom-right p {
    color: white;
    float: left;
}

.artist-info {
    position: relative;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.artist-network {
    display: inline-block;
    /*    width: 30px;
    height: 30px;*/
}

.artist-network a {
    display: inline-block;
    /*   width: 30px;
    height: 30px;*/
    /*transition: 1s;*/
}
/*.artist-facebook a {
    background-image: url("../../img/header/facebook.svg");
}

.artist-instagram a {
    background-image: url("../../img/header/instagram.svg");
}

.artist-dribble a {
    background-image: url("../../img/header/dribble.svg");
}

.artist-twitter a {
    background-image: url("../../img/header/twitter.svg");
}*/
/*.artist-network a:hover {
    background-color: rgba(0, 012, 40, 0.7);
    color: black;
}*/

#facebook,
#instagram,
#dribble,
#twitter {
    /* transition: 1s;*/
}

svg:hover #facebook,
svg:hover #instagram,
svg:hover #dribble,
svg:hover #twitter {
    fill: white;
    background: #e31936;
}

.artist-network a:hover {
    /*background-image: url("../../img/header/cd-socials.svg");*/
    
    background-color: #e31936;
    /*    color: black;*/
}
/* Effect 12: circle */
/*#artistInfo .artist-social {
    position: absolute;
    width: 280px;
    height: 50px;
    bottom: 150px;
    padding: 4px;
}

#artistInfo a {
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 0.25em;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

a:hover {
    background-image: url("../../img/header/cd-socials.svg");
    background-color: rgba(227, 25, 54, 0.7);
    color: black;
}

#artistInfo li {
    display: inline-block;
    margin-left: 0.5em;
}*/