#contact {
    height: 680px;
    width: 100%;
    position: relative;
    color: #fff;
    margin: 0 auto;
    float: none;
    font-family: 'Conv_niamey__';
}

#map-container-g {
    width: 100%;
    height: 100%;
}

.contact-info {
    bottom: 200px;
}

.contact-form {
    bottom: 100px;
}

.contact-address {
    bottom: 280px;
}

.contact-address h2 {
    font-size: 130%;
    color: rgb(255, 255, 255);
}