.container--grid {
    width: 100%;
    position: relative;
    font-family: 'Conv_niamey__';
}

.container--grid > header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px 50px 30px;
}

.container--grid > header {
    padding: 60px 30px 50px;
    text-align: center;
}

.container--grid > header h1 {
    font-size: 34px;
    line-height: 38px;
    margin: 0 auto;
    font-weight: 700;
    color: #333;
}

.container--grid > header h1 span {
    display: block;
    font-size: 20px;
    font-weight: 300;
}

.main--grid > p {
    text-align: center;
    padding: 50px 20px;
}

.og-grid {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    font-size: 0;
    top: -100px;
    z-index: 1;
}

.og-grid li {
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 40%;
    min-width: 600px;
}

.og-grid li > a,
.og-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 400px;
    -webkit-transition: all .35s ease;
    /* Safari and Chrome */
    
    -moz-transition: all .35s ease;
    /* Firefox */
    
    -ms-transition: all .35s ease;
    /* IE 9 */
    
    -o-transition: all .35s ease;
    /* Opera */
    
    transition: all .35s ease;
}

.og-grid li > a img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
/*
.og-grid li > a img::before,
.og-grid li > a img::after {
	position: absolute;
	content: '';
	opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    z-index: 9999;
}

.og-grid li > a img::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.og-grid li > a img::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}


.og-grid li > a:hover img::before,
.og-grid li > a:hover img::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

*/

.og-grid li > a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.og-grid li > a:hover div {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
}

.og-grid li > a div {
    /* width: 50%;
    height: 57px;
    position: absolute;
    top: 70%;
    right: 0px;
    background-image: url("../../img/home/artists_label.svg");
    background-size: cover;
     <------ 
    
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);*/
    
    text-decoration: none;
}

.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #001240;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    background: white;
    /*        rgba(0, 18, 64, 1);*/
    
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.og-close::before,
.og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background-color: rgba(227, 25, 54, 0.6);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.og-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
    background: rgba(227, 25, 54, 1);
}

.og-fullimg,
.og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.og-details {
    padding: 0 40px 0 50px;
    border-left: solid 1px;
    border-left-color: rgba(227, 25, 54, 0.6);
}

.og-fullimg {
    text-align: center;
}

.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
    color: rgba(227, 25, 54, 1);
}

.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 18, 64, 1);
}

.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}

.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}

.og-details a:hover {
    border-color: #999;
    color: #999;
}

.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@-moz-keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@media screen and (max-width: 830px) {
    .og-expander h3 {
        font-size: 32px;
    }
    .og-expander p {
        font-size: 13px;
    }
    .og-expander a {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .og-fullimg {
        display: none;
    }
    .og-details {
        float: none;
        width: 100%;
    }
}