/*
    Slider Div
*/
/*
#slider--studio {

    width: 100%;

    height: 95vh;

    overflow: hidden;

    z-index: 2;

    position: relative;
    
    text-align: center;

}

#slider--studio .slides {

    display: block;

    width: 500%;

    height: 100vh;

    margin: 0;

    padding: 0;

    background-image: url('../../img/artists/filter_dots.png');

}

#slider--studio .slide {

    float: left;

    list-style-type: none;

    width: 20%;

    height: 100%;

      background-image: url('../../img/artists/filter_dots.png'), url('../../img/home/artists/LiviuTeodorescu/2.jpg');

    background-image: url('../../img/artists/filter_dots.png'), url('../../img/home/artists/Adda/6.jpg');

    background-size: auto, cover;

    background-repeat: repeat, no-repeat;

    background-position: center center, center center;

}

#slider--studio .dots {

    display: inline-block;

    background: url(../../img/artists/dots.png);

    width: 12%;

    height: 10px;

    position: absolute;

    top: 60%;

    left: 0;

}

#slider--studio .artist {

    color: #fff;

    font-size: 1.1em;

    text-transform: uppercase;

    line-height: 2.2em;

    display: inline;

    position: absolute;

    top: 59%;

    left: 11%;

    text-align: center;

    border-bottom: 4px solid #0b8099;

    padding: 0 25px;

}

#slider--studio .artistName {

    color: #fff;

    font-size: 2.8em;

    background: rgba(227, 25, 54, 0.75);

    text-transform: uppercase;

    line-height: 2.2em;

    top: 90px;
  position: relative;

    position: absolute;

   display: inline-block;

    text-align: center;

    padding: 0 25px;

}*/

.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 0;
}

.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
    font-size: 160px;
    padding: 0 30px;
    line-height: 120px;
    color: rgba(227, 25, 54, 0.8);
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/1.jpg)
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    22% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-100%);
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    22% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1) translateY(-100%);
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    22% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1) translateY(-100%);
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    22% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1) translateY(-100%);
    }
    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    22% {
        opacity: 0;
        -webkit-transform: scale(1.1) translateY(-20%);
    }
    25% {
        opacity: 0;
        -transform: scale(1.1) translateY(-100%);
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-300%);
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    19% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes titleAnimation {
    0% {
        opacity: 0;
        -moz-transform: translateY(-300%);
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
    17% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
    19% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes titleAnimation {
    0% {
        opacity: 0;
        -o-transform: translateY(-300%);
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0%);
    }
    17% {
        opacity: 1;
        -o-transform: translateY(0%);
    }
    19% {
        opacity: 0;
        -o-transform: translateY(100%);
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes titleAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateY(-300%);
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
    19% {
        opacity: 0;
        -ms-transform: translateY(100%);
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateY(-300%);
    }
    8% {
        opacity: 1;
        transform: translateY(0%);
    }
    17% {
        opacity: 1;
        transform: translateY(0%);
    }
    19% {
        opacity: 0;
        transform: translateY(100%);
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
/* Show at least something when animations not supported */

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 100px
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 50px
    }
}

#page {
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    font-family: 'Conv_niamey__';
}

.artistName {
    color: #fff;
    font-size: 2.8em;
    background: rgba(227, 25, 54, 0.75);
    text-transform: uppercase;
    line-height: 2.2em;
    top: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 25px;
}