.title-row {
    position: relative;
    min-height: 100px;
}

.col-centered h1 {
    font-size: 700%;
    color: white;
}

.col-centered-border h3 {
    margin-top: 10px;
}

.col-centered-border {
    border-style: solid;
    position: relative;
    border-width: 5px;
    border-color: rgba(227, 25, 54,0.9);
    background-color: rgba(227, 25, 54,0.9);
    float: none;
    margin: 0 auto;
    text-align: center;
    color: white;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.col-centered-border:hover {
    color: black;
    
}

.col-centered-light-border {
    border-style: solid;
    position: relative;
    border-width: 2px;
    float: none;
    margin: 0 auto;
    text-align: center;
    color: white;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.col-centered-light-border:hover {
    color: #002b5c;
}

.col-centered img:not(.trian) {
    max-width: 40%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 10px;
}

.containerx {
    width: 100%;
    height: 880px;
    top: 100%;
    position: relative;
    background: #f7f7f7;
}

.containerx.demo-1 {
    width: 100%;
    height: 100vh;
    top: 100%;
    position: relative;
}

.shadow {
    text-align: center;
    max-height: 50%;
    bottom: 7%;
    position: absolute;
}

.frontpage-soundwave {
    background-image: url("../../img/artists/wave_up2.svg");
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    width: 100%;
}