    <li class="slide" ng-repeat="slide in imageSlides track by $index" style="  background-image: url('../../img/artists/filter_dots.png'), url('{{slide}}');"></li>
<!--
        <li class="slide"></li>
         FIRST SLIDE!!
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
        <li class="slide"></li>
-->
   